.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo{
    width: 160px;
    font-size: 25px;
    border: 3px ridge red;
    color: #410b0b;
    padding: 5px;
    box-shadow:  inset 0px 25px 25px rgba(232, 73, 73, 0.3);
    border-radius: 6px;
    text-align: center;

}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 25px;
    color:#561c1c;
    font-size: 21px;

}

 .navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar button{
    background: transparent;
    font-size: 14px;
    color: #561c1c;
    border: 2px solid #49557e;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
} 
.navbar button:hover{
    background-color:#fff4f2;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;

}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;

}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top:-8px;
    right:-8px
}

.navbar-profile{
    position: relative;

}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
    background-color: #fff2ef;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img{
    width: 20px;
}

.nav-profile-dropdown li:hover{
    color:tomato;
}
/* MEDIA QUERYYYYYY */


@media (max-width:1200px){
    
    .navbar .logo{
     width: 120px;
    font-size: 18px;
    box-shadow:  inset 1px 10px 10px rgba(232, 73, 73, 0.3);

    }

    .navbar-menu{

        gap:15px;
        font-size: 16px;
        font-weight: 500;
    }

    .navbar-right{
        gap:10px;
    }

   .navbar-right button{
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #49557e;
        padding: 3px 12px;
        border-radius: 5px;
        
    }

    .navbar-search-icon a img, .navbar-right img {
        width: 17px;

    }
    
}



@media (max-width:970px){
    
    .navbar .logo{
     width: 100px;
    font-size: 17px;
    box-shadow:  inset 1px 10px 10px rgba(232, 73, 73, 0.3);

    }

    .navbar-menu{

        gap:13px;
        font-size: 16px;
        font-weight: 500;
    }

    .navbar-right{
        gap:10px;
    }

   .navbar-right button{
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #49557e;
        padding: 3px 12px;
        border-radius: 5px;
        
    }

    .navbar-search-icon a img, .navbar-right img {
        width: 16px;

    }
    
}

@media (max-width:870px){
    
    .navbar .logo{
     width: 100px;
    font-size: 16px;
    box-shadow:  inset 1px 10px 10px rgba(232, 73, 73, 0.3);

    }

    .navbar-menu{

        gap:13px;
        font-size: 14px;
        font-weight: 500;
    }

    .navbar-right{
        gap:10px;
    }

   .navbar-right button{
        font-size: 12px;
        font-weight: 500;
        border: 1px solid #49557e;
        padding: 3px 12px;
        border-radius: 5px;
        
    }

    .navbar-search-icon a img, .navbar-right img {
        width: 16px;

    }
    
}

@media (max-width:670px){
    
    .navbar .logo{
     width: 100px;
    font-size: 14px;
    border: 3px ridge red;
    color: #410b0b;
    padding: 6px;
    border-radius: 6px;
    text-align: center;
    box-shadow:  inset 1px 10px 10px rgba(232, 73, 73, 0.3);

    }

    .navbar-menu{
       display: none;

    }

    .navbar-right{
        gap:10px;
    }

   .navbar-right button{
        font-size: 10px;
        font-weight: 500;
        border: 1px solid #49557e;
        padding: 3px 12px;
        border-radius: 5px;
        
    }

    .navbar-search-icon a img, .navbar-right img {
        width: 16px;

    }
    
}